In [1]:
import pandas as pd
import numpy as np
import requests
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import csv

# Section 1: Zillow Housing Data

In [109]:
zhvi_3brm = pd.read_csv('zillow_data.csv')

In [110]:
zhvi_3brm.shape

(18458, 280)

In [117]:
zhvi_3brm.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,244993.0,246745.0,...,708040.0,711549.0,715775.0,720637.0,726757.0,732698.0,739633.0,744904.0,749033.0,751137.0
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,228623.0,228794.0,...,893402.0,899121.0,904265.0,913104.0,928696.0,947698.0,964530.0,966200.0,965512.0,950327.0
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,99808.0,99844.0,...,227481.0,230208.0,233037.0,236333.0,240567.0,245106.0,249391.0,252562.0,254626.0,255900.0
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,160643.0,160951.0,...,304296.0,306968.0,309531.0,311054.0,313336.0,315071.0,318527.0,321029.0,322421.0,321973.0
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,102255.0,102416.0,...,241410.0,245654.0,249856.0,253847.0,258904.0,263939.0,268412.0,271147.0,272190.0,272533.0

In [133]:
for x in zhvi_3brm.columns[9:]:
    i = zhvi_3brm.columns.get_loc(x)
    if i+1>279:
        break
    else:
        zhvi_3brm.iloc[:,9] = zhvi_3brm.iloc[:,9].fillna(zhvi_3brm.iloc[:, i+1])

2000-02-29
9
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        248333.0
1        229873.0
2         99688.0
3        161657.0
4        102485.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2000-03-31, Length: 18458, dtype: float64
2000-03-31
10
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        251316.0
1        231866.0
2         99752.0
3        162874.0
4        102633.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2000-04-30, Length: 18458, dtype: float64
2000-04-30
11
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        254128.0
1        234313.0
2         99761.0
3        164310.0
4        101836.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2000-05-31, Length: 18458, dtype: float64
2000-05-31
12
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        257086.0
1        236569.0
2        100004.0
3        165614.0
4        101046.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2000-06-30, Length: 18458, dtype: float64
2000-06-30
13
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        260090.0
1        238889.0
2        100173.0
3        167030.0
4        100233.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2000-07-31, Length: 18458, dtype: float64
2000-07-31
14
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        262655.0
1        241494.0
2        100472.0
3        168559.0
4        100326.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2000-08-31, Length: 18458, dtype: float64
2000-08-31
15
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        264992.0
1        243885.0
2        100857.0
3        170083.0
4        100390.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2000-09-30, Length: 18458, dtype: float64
2000-09-30
16
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        267609.0
1        245840.0
2        101167.0
3        171701.0
4        100442.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2000-10-31, Length: 18458, dtype: float64
2000-10-31
17
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        270870.0
1        247724.0
2        101725.0
3        173383.0
4        100393.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2000-11-30, Length: 18458, dtype: float64
2000-11-30
18
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        273791.0
1        249603.0
2        102266.0
3        174974.0
4        100342.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2000-12-31, Length: 18458, dtype: float64
2000-12-31
19
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        276620.0
1        250961.0
2        102524.0
3        176308.0
4        100239.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-01-31, Length: 18458, dtype: float64
2001-01-31
20
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        279182.0
1        252244.0
2        102557.0
3        177354.0
4        100084.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-02-28, Length: 18458, dtype: float64
2001-02-28
21
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        282286.0
1        253894.0
2        102194.0
3        178707.0
4         99894.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-03-31, Length: 18458, dtype: float64
2001-03-31
22
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        285361.0
1        256313.0
2        102097.0
3        180016.0
4         99725.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-04-30, Length: 18458, dtype: float64
2001-04-30
23
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        288045.0
1        258676.0
2        102142.0
3        181518.0
4         99616.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-05-31, Length: 18458, dtype: float64
2001-05-31
24
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        290642.0
1        261013.0
2        102347.0
3        182785.0
4         99548.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-06-30, Length: 18458, dtype: float64
2001-06-30
25
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        293096.0
1        263526.0
2        102536.0
3        184033.0
4         99510.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-07-31, Length: 18458, dtype: float64
2001-07-31
26
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        295935.0
1        266319.0
2        102444.0
3        185481.0
4         99504.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-08-31, Length: 18458, dtype: float64
2001-08-31
27
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        298345.0
1        268837.0
2        102600.0
3        187092.0
4         99423.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-09-30, Length: 18458, dtype: float64
2001-09-30
28
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        300759.0
1        271510.0
2        102802.0
3        188902.0
4         99348.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-10-31, Length: 18458, dtype: float64
2001-10-31
29
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        303715.0
1        273870.0
2        103073.0
3        190360.0
4         99235.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-11-30, Length: 18458, dtype: float64
2001-11-30
30
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        307204.0
1        276427.0
2        103207.0
3        191468.0
4         99189.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2001-12-31, Length: 18458, dtype: float64
2001-12-31
31
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        310979.0
1        278336.0
2        103388.0
3        192579.0
4         99196.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-01-31, Length: 18458, dtype: float64
2002-01-31
32
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        313789.0
1        280557.0
2        103671.0
3        193784.0
4         99309.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-02-28, Length: 18458, dtype: float64
2002-02-28
33
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        313596.0
1        283321.0
2        104265.0
3        195428.0
4         99582.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-03-31, Length: 18458, dtype: float64
2002-03-31
34
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        312874.0
1        286978.0
2        104924.0
3        196538.0
4         99984.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-04-30, Length: 18458, dtype: float64
2002-04-30
35
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0             NaN
1        291057.0
2        105526.0
3        197797.0
4        100365.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-05-31, Length: 18458, dtype: float64
2002-05-31
36
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        314864.0
1        295112.0
2        106009.0
3        198579.0
4        100675.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-06-30, Length: 18458, dtype: float64
2002-06-30
37
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        317444.0
1        300293.0
2        106467.0
3        200103.0
4        100940.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-07-31, Length: 18458, dtype: float64
2002-07-31
38
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        320786.0
1        305724.0
2        107028.0
3        201845.0
4        101304.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-08-31, Length: 18458, dtype: float64
2002-08-31
39
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        323901.0
1        311513.0
2        107501.0
3        203964.0
4        101692.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-09-30, Length: 18458, dtype: float64
2002-09-30
40
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        327130.0
1        316655.0
2        107856.0
3        205803.0
4        102067.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-10-31, Length: 18458, dtype: float64
2002-10-31
41
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        329321.0
1        321861.0
2        108120.0
3        207041.0
4        102520.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-11-30, Length: 18458, dtype: float64
2002-11-30
42
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        331525.0
1        326864.0
2        108327.0
3        208495.0
4        102836.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2002-12-31, Length: 18458, dtype: float64
2002-12-31
43
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        333733.0
1        330881.0
2        108662.0
3        209880.0
4        103011.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2003-01-31, Length: 18458, dtype: float64
2003-01-31
44
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        336800.0
1        334441.0
2        108941.0
3        211601.0
4        102984.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2003-02-28, Length: 18458, dtype: float64
2003-02-28
45
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        340676.0
1        338696.0
2        109343.0
3        213031.0
4        102970.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2003-03-31, Length: 18458, dtype: float64
2003-03-31
46
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        345036.0
1        343110.0
2        109602.0
3        214714.0
4        103094.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2003-04-30, Length: 18458, dtype: float64
2003-04-30
47
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        349448.0
1        348721.0
2        109857.0
3        215905.0
4        103351.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2003-05-31, Length: 18458, dtype: float64
2003-05-31
48
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        355868.0
1        353086.0
2        110030.0
3        217151.0
4        103722.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2003-06-30, Length: 18458, dtype: float64

Name: 2005-10-31, Length: 18458, dtype: float64
2005-10-31
77
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        493507.0
1        591632.0
2        122767.0
3        280875.0
4        119367.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2005-11-30, Length: 18458, dtype: float64
2005-11-30
78
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        500437.0
1        598754.0
2        122735.0
3        283440.0
4        119716.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2005-12-31, Length: 18458, dtype: float64
2005-12-31
79
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        505870.0
1        604937.0
2        122783.0
3        286068.0
4        119962.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-01-31, Length: 18458, dtype: float64
2006-01-31
80
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        511694.0
1        610392.0
2        122565.0
3        288569.0
4        120418.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-02-28, Length: 18458, dtype: float64
2006-02-28
81
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        515151.0
1        616501.0
2        122684.0
3        290886.0
4        120877.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-03-31, Length: 18458, dtype: float64
2006-03-31
82
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        518503.0
1        620620.0
2        122863.0
3        292839.0
4        121341.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-04-30, Length: 18458, dtype: float64
2006-04-30
83
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        522840.0
1        626922.0
2        123456.0
3        294506.0
4        121950.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-05-31, Length: 18458, dtype: float64
2006-05-31
84
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        527256.0
1        631526.0
2        123878.0
3        295219.0
4        122721.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-06-30, Length: 18458, dtype: float64
2006-06-30
85
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        530453.0
1        634418.0
2        124372.0
3        296017.0
4        123664.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-07-31, Length: 18458, dtype: float64
2006-07-31
86
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        534089.0
1        636101.0
2        124749.0
3        296410.0
4        124523.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-08-31, Length: 18458, dtype: float64
2006-08-31
87
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        536119.0
1        633973.0
2        125244.0
3        296773.0
4        125455.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-09-30, Length: 18458, dtype: float64
2006-09-30
88
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        535567.0
1        633397.0
2        125866.0
3        296683.0
4        126390.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-10-31, Length: 18458, dtype: float64
2006-10-31
89
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        530518.0
1        633084.0
2        126233.0
3        296837.0
4        127488.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-11-30, Length: 18458, dtype: float64
2006-11-30
90
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        527104.0
1        635074.0
2        126678.0
3        297334.0
4        128657.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2006-12-31, Length: 18458, dtype: float64
2006-12-31
91
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        525966.0
1        635661.0
2        126755.0
3        298469.0
4        129426.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-01-31, Length: 18458, dtype: float64
2007-01-31
92
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        526541.0
1        635431.0
2        126619.0
3        299508.0
4        129650.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-02-28, Length: 18458, dtype: float64
2007-02-28
93
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        530479.0
1        633799.0
2        126309.0
3        300114.0
4        129652.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-03-31, Length: 18458, dtype: float64
2007-03-31
94
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        531874.0
1        633282.0
2        126459.0
3        299953.0
4        129892.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-04-30, Length: 18458, dtype: float64
2007-04-30
95
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        534491.0
1        630456.0
2        126895.0
3        299332.0
4        130896.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-05-31, Length: 18458, dtype: float64
2007-05-31
96
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        531102.0
1        627590.0
2        127561.0
3        298665.0
4        131971.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-06-30, Length: 18458, dtype: float64
2007-06-30
97
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        529396.0
1        622038.0
2        127878.0
3        297732.0
4        133067.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-07-31, Length: 18458, dtype: float64
2007-07-31
98
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        527941.0
1        616566.0
2        128306.0
3        297011.0
4        133804.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-08-31, Length: 18458, dtype: float64
2007-08-31
99
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        526841.0
1        610539.0
2        128540.0
3        295652.0
4        134438.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-09-30, Length: 18458, dtype: float64
2007-09-30
100
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        527566.0
1        603319.0
2        128801.0
3        294588.0
4        135083.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-10-31, Length: 18458, dtype: float64
2007-10-31
101
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        527331.0
1        596837.0
2        128938.0
3        293370.0
4        135598.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-11-30, Length: 18458, dtype: float64
2007-11-30
102
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        527969.0
1        589978.0
2        129100.0
3        291671.0
4        136112.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2007-12-31, Length: 18458, dtype: float64
2007-12-31
103
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        527825.0
1        585596.0
2        128542.0
3        290539.0
4        135813.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-01-31, Length: 18458, dtype: float64
2008-01-31
104
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        527177.0
1        579133.0
2        127907.0
3             NaN
4        135430.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-02-29, Length: 18458, dtype: float64
2008-02-29
105
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        525457.0
1        568501.0
2        127249.0
3             NaN
4        135021.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-03-31, Length: 18458, dtype: float64
2008-03-31
106
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        522754.0
1        553424.0
2        127083.0
3             NaN
4        135187.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-04-30, Length: 18458, dtype: float64
2008-04-30
107
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        518712.0
1        536514.0
2        126629.0
3             NaN
4        135288.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-05-31, Length: 18458, dtype: float64
2008-05-31
108
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        514881.0
1        521079.0
2        126040.0
3        279536.0
4        135153.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-06-30, Length: 18458, dtype: float64
2008-06-30
109
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        510696.0
1        505130.0
2        125552.0
3        279577.0
4        134834.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-07-31, Length: 18458, dtype: float64
2008-07-31
110
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        506871.0
1        490830.0
2        124846.0
3        275218.0
4        134048.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-08-31, Length: 18458, dtype: float64
2008-08-31
111
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        503239.0
1        479852.0
2        123973.0
3        273001.0
4        133281.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-09-30, Length: 18458, dtype: float64
2008-09-30
112
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        500066.0
1        470311.0
2        123188.0
3        267600.0
4        132571.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-10-31, Length: 18458, dtype: float64
2008-10-31
113
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        497201.0
1        460882.0
2        122283.0
3        264055.0
4        132306.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-11-30, Length: 18458, dtype: float64
2008-11-30
114
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        492678.0
1        448180.0
2        121365.0
3        258793.0
4        131912.0
           ...
18453         NaN
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2008-12-31, Length: 18458, dtype: float64
2008-12-31
115
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        488215.0
1        439368.0
2        120408.0
3        253236.0
4        131365.0
           ...
18453    195917.0
18454         NaN
18455         NaN
18456         NaN
18457         NaN
Name: 2009-01-31, Length: 18458, dtype: float64
2009-01-31
116
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        482912.0
1        433522.0
2        120246.0
3        249271.0
4        130676.0
           ...
18453    195625.0
18454         NaN
18455         NaN
18456         NaN

Name: 2010-05-31, Length: 18458, dtype: float64
2010-05-31
132
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        455321.0
1        426608.0
2        120552.0
3        224149.0
4        128285.0
           ...
18453    187346.0
18454         NaN
18455         NaN
18456     77707.0
18457    123747.0
Name: 2010-06-30, Length: 18458, dtype: float64
2010-06-30
133
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        457185.0
1        424550.0
2        119653.0
3        220388.0
4        128183.0
           ...
18453    183696.0
18454         NaN
18455         NaN
18456     78353.0
18457    124068.0
Name: 2010-07-31, Length: 18458, dtype: float64
2010-07-31
134
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        457705.0
1        419538.0
2        118239.0
3        218744.0
4        128126.0
           ...
18453    183047.0
18454         NaN
18455         NaN
18456     78833.0
18457    124569.0
Name: 2010-08-31, Length: 18458, dtype: float64
2010-08-31
135
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        458655.0
1        415409.0
2        117108.0
3        215010.0
4        127923.0
           ...
18453    182643.0
18454         NaN
18455         NaN
18456     78881.0
18457    124920.0
Name: 2010-09-30, Length: 18458, dtype: float64
2010-09-30
136
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        458776.0
1        411189.0
2        116262.0
3        212842.0
4        127326.0
           ...
18453    182700.0
18454         NaN
18455         NaN
18456     78667.0
18457    125643.0
Name: 2010-10-31, Length: 18458, dtype: float64
2010-10-31
137
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        458250.0
1        407463.0
2        115895.0
3        209394.0
4        126288.0
           ...
18453    182735.0
18454         NaN
18455         NaN
18456     78497.0
18457    126339.0
Name: 2010-11-30, Length: 18458, dtype: float64
2010-11-30
138
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        456386.0
1        406614.0
2        115468.0
3        206232.0
4        125443.0
           ...
18453    182448.0
18454         NaN
18455         NaN
18456     78098.0
18457    127133.0
Name: 2010-12-31, Length: 18458, dtype: float64
2010-12-31
139
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        455596.0
1        406052.0
2        114942.0
3        203662.0
4        124894.0
           ...
18453    181887.0
18454         NaN
18455         NaN
18456     77680.0
18457    127623.0
Name: 2011-01-31, Length: 18458, dtype: float64
2011-01-31
140
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        455333.0
1        406881.0
2        114331.0
3        201205.0
4        124405.0
           ...
18453    181550.0
18454         NaN
18455         NaN
18456     76921.0
18457    127792.0
Name: 2011-02-28, Length: 18458, dtype: float64
2011-02-28
141
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        456189.0
1        405109.0
2        113409.0
3        200274.0
4        124291.0
           ...
18453    181031.0
18454         NaN
18455         NaN
18456     76192.0
18457    127423.0
Name: 2011-03-31, Length: 18458, dtype: float64
2011-03-31
142
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        455723.0
1        403772.0
2        112727.0
3        198681.0
4        123888.0
           ...
18453    180892.0
18454         NaN
18455         NaN
18456     75366.0
18457    128058.0
Name: 2011-04-30, Length: 18458, dtype: float64
2011-04-30
143
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        455457.0
1        398978.0
2        112156.0
3        198573.0
4        123533.0
           ...
18453    181267.0
18454         NaN
18455         NaN
18456     75066.0
18457    128550.0
Name: 2011-05-31, Length: 18458, dtype: float64
2011-05-31
144
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        454090.0
1        398295.0
2        111791.0
3        197127.0
4        122663.0
           ...
18453    182273.0
18454         NaN
18455         NaN
18456     75073.0
18457    128555.0
Name: 2011-06-30, Length: 18458, dtype: float64
2011-06-30
145
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        453034.0
1        396763.0
2        111570.0
3        197102.0
4        122178.0
           ...
18453    183137.0
18454         NaN
18455         NaN
18456     75295.0
18457    127812.0
Name: 2011-07-31, Length: 18458, dtype: float64
2011-07-31
146
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        451759.0
1        394209.0
2        111314.0
3        195668.0
4        121805.0
           ...
18453    183875.0
18454         NaN
18455         NaN
18456     75509.0
18457    127854.0
Name: 2011-08-31, Length: 18458, dtype: float64
2011-08-31
147
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        450364.0
1        389282.0
2        110979.0
3        194448.0
4        121718.0
           ...
18453    184419.0
18454         NaN
18455         NaN
18456     75626.0
18457    128182.0
Name: 2011-09-30, Length: 18458, dtype: float64
2011-09-30
148
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        448801.0
1        384588.0
2        110583.0
3        191140.0
4        121511.0
           ...
18453    185076.0
18454         NaN
18455         NaN
18456     75555.0
18457    128086.0
Name: 2011-10-31, Length: 18458, dtype: float64
2011-10-31
149
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        447551.0
1        383920.0
2        109601.0
3        189408.0
4        121459.0
           ...
18453    185375.0
18454         NaN
18455         NaN
18456     75885.0
18457    126722.0
Name: 2011-11-30, Length: 18458, dtype: float64
2011-11-30
150
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        447050.0
1        383667.0
2        108891.0
3        186076.0
4        121044.0
           ...
18453    185309.0
18454         NaN
18455         NaN
18456     75960.0
18457    125657.0
Name: 2011-12-31, Length: 18458, dtype: float64
2011-12-31
151
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        446748.0
1        383611.0
2        108548.0
3        185056.0
4        120814.0
           ...
18453    184905.0
18454         NaN
18455         NaN
18456     76367.0
18457    126498.0
Name: 2012-01-31, Length: 18458, dtype: float64
2012-01-31
152
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        446310.0
1        383509.0
2        108715.0
3        182228.0
4        120875.0
           ...
18453    184669.0
18454         NaN
18455         NaN
18456     76826.0
18457    128231.0
Name: 2012-02-29, Length: 18458, dtype: float64
2012-02-29
153
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        445092.0
1        383233.0
2        109117.0
3        183339.0
4        121574.0
           ...
18453    184245.0
18454         NaN
18455         NaN
18456     77359.0
18457    130324.0
Name: 2012-03-31, Length: 18458, dtype: float64
2012-03-31
154
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        445170.0
1        383968.0
2        109251.0
3        183357.0
4        122318.0
           ...
18453    184530.0
18454         NaN
18455         NaN
18456     77890.0
18457    132188.0
Name: 2012-04-30, Length: 18458, dtype: float64
2012-04-30
155
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        445347.0
1        385054.0
2        109521.0
3        184215.0
4        122919.0
           ...
18453    184570.0
18454         NaN
18455         NaN
18456     77996.0
18457    133966.0
Name: 2012-05-31, Length: 18458, dtype: float64
2012-05-31
156
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        446657.0
1        387262.0
2        109705.0
3        183308.0
4        123348.0
           ...
18453    184996.0
18454         NaN
18455         NaN
18456     78269.0
18457    135044.0
Name: 2012-06-30, Length: 18458, dtype: float64
2012-06-30
157
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        446720.0
1        389664.0
2        110210.0
3        181474.0
4        123434.0
           ...
18453    185119.0
18454         NaN
18455         NaN
18456     78636.0
18457    134833.0
Name: 2012-07-31, Length: 18458, dtype: float64
2012-07-31
158
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        446482.0
1        391149.0
2        110644.0
3        180159.0
4        123368.0
           ...
18453    184929.0
18454         NaN
18455         NaN
18456     78988.0
18457    134800.0
Name: 2012-08-31, Length: 18458, dtype: float64
2012-08-31
159
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        446591.0
1        392690.0
2        110883.0
3        178784.0
4        122975.0
           ...
18453    185385.0
18454         NaN
18455         NaN
18456     79322.0
18457    135477.0
Name: 2012-09-30, Length: 18458, dtype: float64
2012-09-30
160
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        446922.0
1        396231.0
2        110746.0
3        179414.0
4        122905.0
           ...
18453    185860.0
18454         NaN
18455         NaN
18456     79365.0
18457    136210.0
Name: 2012-10-31, Length: 18458, dtype: float64
2012-10-31
161
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        448758.0
1        400470.0
2        110930.0
3        180225.0
4        123151.0
           ...
18453    187306.0
18454         NaN
18455         NaN
18456     79523.0
18457    136365.0
Name: 2012-11-30, Length: 18458, dtype: float64
2012-11-30
162
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        449946.0
1        407458.0
2        111143.0
3        181023.0
4        123683.0
           ...
18453    188300.0
18454         NaN
18455         NaN
18456     79522.0
18457    136221.0
Name: 2012-12-31, Length: 18458, dtype: float64
2012-12-31
163
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        450823.0
1        412851.0
2        111801.0
3        182605.0
4        124540.0
           ...
18453    189622.0
18454         NaN
18455         NaN
18456     79599.0
18457    136658.0
Name: 2013-01-31, Length: 18458, dtype: float64
2013-01-31
164
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        450944.0
1        421658.0
2        112581.0
3        183939.0
4        125253.0
           ...
18453    190433.0
18454         NaN
18455         NaN
18456     79757.0
18457    137379.0
Name: 2013-02-28, Length: 18458, dtype: float64
2013-02-28
165
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        451700.0
1        430326.0
2        114027.0
3        184943.0
4        125718.0
           ...
18453    191335.0
18454         NaN
18455         NaN
18456     79962.0
18457    138084.0
Name: 2013-03-31, Length: 18458, dtype: float64
2013-03-31
166
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        453889.0
1        440717.0
2        115637.0
3        185955.0
4        125889.0
           ...
18453    191895.0
18454         NaN
18455         NaN
18456     80077.0
18457    138230.0
Name: 2013-04-30, Length: 18458, dtype: float64
2013-04-30
167
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        456146.0
1        449190.0
2        117118.0
3        187189.0
4        126047.0
           ...
18453    193282.0
18454         NaN
18455         NaN
18456     80159.0
18457    138340.0
Name: 2013-05-31, Length: 18458, dtype: float64
2013-05-31
168
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        458689.0
1        458010.0
2        118174.0
3        190088.0
4        126658.0
           ...
18453    194909.0
18454         NaN
18455         NaN
18456     80619.0
18457    138312.0
Name: 2013-06-30, Length: 18458, dtype: float64
2013-06-30
169
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        460453.0
1        466526.0
2        119304.0
3        192815.0
4        127369.0
           ...
18453    196154.0
18454         NaN
18455         NaN
18456     81036.0
18457    138344.0
Name: 2013-07-31, Length: 18458, dtype: float64
2013-07-31
170
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        462810.0
1        475923.0
2        120505.0
3        195589.0
4        128288.0
           ...
18453    195938.0
18454         NaN
18455         NaN
18456     81560.0
18457    138336.0
Name: 2013-08-31, Length: 18458, dtype: float64
2013-08-31
171
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        465091.0
1        483152.0
2        121736.0
3        197020.0
4        129180.0
           ...
18453    195913.0
18454         NaN

2015-06-30
193
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        522183.0
1        536904.0
2        146789.0
3        219684.0
4        145764.0
           ...
18453    230943.0
18454     59775.0
18455         NaN
18456     87903.0
18457    148538.0
Name: 2015-07-31, Length: 18458, dtype: float64
2015-07-31
194
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        525200.0
1        537436.0
2        147169.0
3        219968.0
4        147203.0
           ...
18453    233060.0
18454     59754.0
18455         NaN
18456     88349.0
18457    149111.0
Name: 2015-08-31, Length: 18458, dtype: float64
2015-08-31
195
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        527923.0
1        538568.0
2        147451.0
3        220183.0
4        148063.0
           ...
18453    234986.0
18454     59367.0
18455         NaN
18456     88744.0
18457    149561.0
Name: 2015-09-30, Length: 18458, dtype: float64
2015-09-30
196
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        530327.0
1        544036.0
2        148168.0
3        219952.0
4        148916.0
           ...
18453    237200.0
18454     59456.0
18455         NaN
18456     88864.0
18457    150191.0
Name: 2015-10-31, Length: 18458, dtype: float64
2015-10-31
197
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        533562.0
1        548577.0
2        148747.0
3        220179.0
4        149313.0
           ...
18453    238465.0
18454     59685.0
18455         NaN
18456     89064.0
18457    150601.0
Name: 2015-11-30, Length: 18458, dtype: float64
2015-11-30
198
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        536344.0
1        555075.0
2        149426.0
3        221604.0
4        150292.0
           ...
18453    239697.0
18454     60413.0
18455         NaN
18456     88936.0
18457    151291.0
Name: 2015-12-31, Length: 18458, dtype: float64
2015-12-31
199
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        538474.0
1        559346.0
2        150486.0
3        223210.0
4        151408.0
           ...
18453    240654.0
18454     60662.0
18455         NaN
18456     88795.0
18457    151681.0
Name: 2016-01-31, Length: 18458, dtype: float64
2016-01-31
200
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        540269.0
1        563937.0
2        151469.0
3        226146.0
4        152136.0
           ...
18453    242008.0
18454     60746.0
18455         NaN
18456     88730.0
18457    152074.0
Name: 2016-02-29, Length: 18458, dtype: float64
2016-02-29
201
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        542045.0
1        566265.0
2        152131.0
3        227975.0
4        152933.0
           ...
18453    243339.0
18454     61107.0
18455         NaN
18456     88845.0
18457    152325.0
Name: 2016-03-31, Length: 18458, dtype: float64
2016-03-31
202
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        545461.0
1        571546.0
2        152264.0
3        229201.0
4        154035.0
           ...
18453    245421.0
18454     61275.0
18455         NaN
18456     89119.0
18457    152460.0
Name: 2016-04-30, Length: 18458, dtype: float64
2016-04-30
203
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        548868.0
1        575492.0
2        152787.0
3        229187.0
4        155493.0
           ...
18453    247837.0
18454     61859.0
18455         NaN
18456     89355.0
18457    153607.0
Name: 2016-05-31, Length: 18458, dtype: float64
2016-05-31
204
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        552253.0
1        580250.0
2        153542.0
3        229284.0
4        156586.0
           ...
18453    250417.0
18454     61991.0
18455         NaN
18456     89507.0
18457    155129.0
Name: 2016-06-30, Length: 18458, dtype: float64
2016-06-30
205
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        555460.0
1        579963.0
2        154395.0
3        230083.0
4        156971.0
           ...
18453    251973.0
18454     62443.0
18455         NaN
18456     89691.0
18457    156787.0
Name: 2016-07-31, Length: 18458, dtype: float64
2016-07-31
206
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        558664.0
1        581629.0
2        154693.0
3        230786.0
4        157258.0
           ...
18453    253715.0
18454     62647.0
18455         NaN
18456     89805.0
18457    157494.0
Name: 2016-08-31, Length: 18458, dtype: float64
2016-08-31
207
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        562057.0
1        584295.0
2        154959.0
3        231505.0
4        157582.0
           ...
18453    255231.0
18454     62921.0
18455         NaN
18456     89980.0
18457    157692.0
Name: 2016-09-30, Length: 18458, dtype: float64
2016-09-30
208
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        565125.0
1        590858.0
2        155243.0
3        232522.0
4        157912.0
           ...
18453    257000.0
18454     63170.0
18455         NaN
18456     90168.0
18457    158364.0
Name: 2016-10-31, Length: 18458, dtype: float64
2016-10-31
209
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        568623.0
1        594840.0
2        156333.0
3        234315.0
4        158735.0
           ...
18453    258592.0
18454     63452.0
18455         NaN
18456     90536.0
18457    159782.0
Name: 2016-11-30, Length: 18458, dtype: float64
2016-11-30
210
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        572378.0
1        597820.0
2        157490.0
3        236530.0
4        160035.0
           ...
18453    260336.0
18454     63683.0
18455         NaN
18456     90817.0
18457    161113.0
Name: 2016-12-31, Length: 18458, dtype: float64
2016-12-31
211
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        576458.0
1        602094.0
2        158142.0
3        238920.0
4        162152.0
           ...
18453    261991.0
18454     63485.0
18455         NaN
18456     90954.0
18457    162084.0
Name: 2017-01-31, Length: 18458, dtype: float64
2017-01-31
212
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        579520.0
1        605867.0
2        158654.0
3        241193.0
4        164132.0
           ...
18453    263552.0
18454     63110.0
18455         NaN
18456     91248.0
18457    162750.0
Name: 2017-02-28, Length: 18458, dtype: float64
2017-02-28
213
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        582747.0
1        608970.0
2        159199.0
3        243707.0
4        165391.0
           ...
18453    264886.0
18454     62968.0
18455         NaN
18456     91832.0
18457    165962.0
Name: 2017-03-31, Length: 18458, dtype: float64
2017-03-31
214
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        585642.0
1        610701.0
2        160081.0
3        245188.0
4        165860.0
           ...
18453    266564.0
18454     62984.0
18455         NaN
18456     92395.0
18457    168501.0
Name: 2017-04-30, Length: 18458, dtype: float64
2017-04-30
215
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        590014.0
1        614430.0
2        160694.0
3        246003.0
4        166119.0
           ...
18453    268511.0
18454     63621.0
18455         NaN
18456     92919.0
18457    170860.0
Name: 2017-05-31, Length: 18458, dtype: float64
2017-05-31
216
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        594312.0
1        618530.0
2        161280.0
3        245452.0
4        166792.0
           ...
18453    270549.0
18454     63663.0
18455         NaN
18456     93118.0
18457    170277.0
Name: 2017-06-30, Length: 18458, dtype: float64
2017-06-30
217
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        599187.0
1        619876.0
2        161511.0
3        245222.0
4        167706.0
           ...
18453    272893.0
18454     64143.0
18455         NaN
18456     93699.0
18457    170518.0
Name: 2017-07-31, Length: 18458, dtype: float64
2017-07-31
218
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        603011.0
1        621854.0
2        161622.0
3        245345.0
4        168926.0
           ...
18453    275226.0
18454     64099.0
18455         NaN
18456     93877.0
18457    169732.0
Name: 2017-08-31, Length: 18458, dtype: float64
2017-08-31
219
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        606856.0
1        624379.0
2        161815.0
3        246630.0
4        169859.0
           ...
18453    277440.0
18454     64239.0
18455         NaN
18456     94437.0
18457    170264.0
Name: 2017-09-30, Length: 18458, dtype: float64
2017-09-30
220
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        610519.0
1        630106.0
2        162302.0
3        247325.0
4        170954.0
           ...
18453    279497.0
18454     63911.0
18455         NaN
18456     94741.0
18457    170124.0
Name: 2017-10-31, Length: 18458, dtype: float64
2017-10-31
221
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        614140.0
1        637138.0
2        163021.0
3        248108.0
4        171916.0
           ...
18453    281644.0
18454     63778.0
18455         NaN
18456     95312.0
18457    171044.0
Name: 2017-11-30, Length: 18458, dtype: float64
2017-11-30
222
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        617748.0
1        643134.0
2        163685.0
3        249566.0
4        172540.0
           ...
18453    284282.0
18454     64095.0
18455         NaN
18456     95519.0
18457    171788.0
Name: 2017-12-31, Length: 18458, dtype: float64
2017-12-31
223
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        621901.0
1        649162.0
2        164458.0
3        251862.0
4        172668.0
           ...
18453    286910.0
18454     65267.0
18455         NaN
18456     95773.0
18457    172803.0
Name: 2018-01-31, Length: 18458, dtype: float64
2018-01-31
224
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        627193.0
1        655719.0
2        165087.0
3        253808.0
4        172804.0
           ...
18453    288937.0
18454     66214.0
18455         NaN
18456     95947.0
18457    177084.0
Name: 2018-02-28, Length: 18458, dtype: float64
2018-02-28
225
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        632734.0
1        662213.0
2        165722.0
3        254059.0
4        173831.0
           ...
18453    291373.0
18454     67278.0
18455         NaN
18456     96280.0
18457    181276.0
Name: 2018-03-31, Length: 18458, dtype: float64
2018-03-31
226
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        637227.0
1        667497.0
2        166661.0
3        254146.0
4        174959.0
           ...
18453    293699.0
18454     67530.0
18455         NaN
18456     96844.0
18457    185166.0
Name: 2018-04-30, Length: 18458, dtype: float64
2018-04-30
227
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        641012.0
1        669840.0
2        167658.0
3        254328.0
4        176153.0
           ...
18453    296431.0
18454     67812.0
18455         NaN
18456     97540.0
18457    186349.0
Name: 2018-05-31, Length: 18458, dtype: float64
2018-05-31
228
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        643964.0
1        672633.0
2        168624.0
3        254647.0
4        177028.0
           ...
18453    297920.0
18454     67446.0
18455         NaN
18456     98090.0
18457    187285.0
Name: 2018-06-30, Length: 18458, dtype: float64
2018-06-30
229
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        646576.0
1        672939.0
2        169373.0
3        254704.0
4        177985.0
           ...
18453    299227.0
18454     67259.0
18455         NaN
18456     98233.0
18457    188379.0
Name: 2018-07-31, Length: 18458, dtype: float64
2018-07-31
230
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        648601.0
1        674297.0
2        170298.0
3        254618.0
4        178939.0
           ...
18453    300979.0
18454     67651.0
18455         NaN
18456     98289.0
18457    189510.0
Name: 2018-08-31, Length: 18458, dtype: float64
2018-08-31
231
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        650396.0
1        675729.0
2        171279.0
3        255493.0
4        179332.0
           ...
18453    302753.0
18454     68164.0
18455         NaN
18456     98466.0
18457    190530.0
Name: 2018-09-30, Length: 18458, dtype: float64
2018-09-30
232
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        652371.0
1        680054.0
2        172344.0
3        256288.0
4        180037.0
           ...
18453    304516.0
18454     68785.0
18455         NaN
18456     98551.0
18457    191837.0

Name: 2020-09-30, Length: 18458, dtype: float64
2020-09-30
256
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        661725.0
1        757041.0
2        190320.0
3        273686.0
4        198506.0
           ...
18453    332172.0
18454     76127.0
18455         NaN
18456    103223.0
18457    203025.0
Name: 2020-10-31, Length: 18458, dtype: float64
2020-10-31
257
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        664807.0
1        764825.0
2        192692.0
3        276602.0
4        200632.0
           ...
18453    334491.0
18454     76745.0
18455         NaN
18456    103747.0
18457    204444.0
Name: 2020-11-30, Length: 18458, dtype: float64
2020-11-30
258
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        668398.0
1        769466.0
2        194727.0
3        278209.0
4        202316.0
           ...
18453    337323.0
18454     77395.0
18455         NaN
18456    104288.0
18457    206382.0
Name: 2020-12-31, Length: 18458, dtype: float64
2020-12-31
259
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        672168.0
1        772563.0
2        196685.0
3        278656.0
4        203992.0
           ...
18453         NaN
18454     78435.0
18455     41898.0
18456    105707.0
18457    209059.0
Name: 2021-01-31, Length: 18458, dtype: float64
2021-01-31
260
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        675062.0
1        780467.0
2        199047.0
3        281432.0
4        206302.0
           ...
18453    351153.0
18454     79076.0
18455     43677.0
18456    106919.0
18457    211601.0
Name: 2021-02-28, Length: 18458, dtype: float64
2021-02-28
261
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        677815.0
1        789362.0
2        200234.0
3        283598.0
4        208617.0
           ...
18453    358618.0
18454     79883.0
18455     45220.0
18456    108287.0
18457    214546.0
Name: 2021-03-31, Length: 18458, dtype: float64
2021-03-31
262
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        679515.0
1        802649.0
2        201889.0
3        287170.0
4        211804.0
           ...
18453    363418.0
18454     80260.0
18455     46480.0
18456    109020.0
18457    217841.0
Name: 2021-04-30, Length: 18458, dtype: float64
2021-04-30
263
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        682434.0
1        819772.0
2        203812.0
3        288400.0
4        215586.0
           ...
18453    368143.0
18454     80775.0
18455     47288.0
18456    110038.0
18457    221589.0
Name: 2021-05-31, Length: 18458, dtype: float64
2021-05-31
264
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        685680.0
1        840265.0
2        208013.0
3        290727.0
4        220891.0
           ...
18453    374203.0
18454     80928.0
18455     47320.0
18456    110805.0
18457    220902.0
Name: 2021-06-30, Length: 18458, dtype: float64
2021-06-30
265
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        689502.0
1        862724.0
2        212560.0
3        293303.0
4        225654.0
           ...
18453    379774.0
18454     81459.0
18455     47459.0
18456    111551.0
18457    220253.0
Name: 2021-07-31, Length: 18458, dtype: float64
2021-07-31
266
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        693328.0
1        876067.0
2        217600.0
3        296751.0
4        230884.0
           ...
18453    385757.0
18454     81745.0
18455     47726.0
18456    112014.0
18457    219542.0
Name: 2021-08-31, Length: 18458, dtype: float64
2021-08-31
267
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        698499.0
1        885709.0
2        221553.0
3        299124.0
4        234349.0
           ...
18453    391014.0
18454     81894.0
18455     48354.0
18456    112842.0
18457    223597.0
Name: 2021-09-30, Length: 18458, dtype: float64
2021-09-30
268
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        703779.0
1        888642.0
2        225056.0
3        301460.0
4        238126.0
           ...
18453    395765.0
18454     81941.0
18455     48289.0
18456    113612.0
18457    226453.0
Name: 2021-10-31, Length: 18458, dtype: float64
2021-10-31
269
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        708040.0
1        893402.0
2        227481.0
3        304296.0
4        241410.0
           ...
18453    398782.0
18454     82441.0
18455     48128.0
18456    114350.0
18457    227969.0
Name: 2021-11-30, Length: 18458, dtype: float64
2021-11-30
270
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        711549.0
1        899121.0
2        230208.0
3        306968.0
4        245654.0
           ...
18453    405801.0
18454     84759.0
18455     48313.0
18456    115974.0
18457    229953.0
Name: 2021-12-31, Length: 18458, dtype: float64
2021-12-31
271
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        715775.0
1        904265.0
2        233037.0
3        309531.0
4        249856.0
           ...
18453    412561.0
18454     86923.0
18455     48611.0
18456    117680.0
18457    232018.0
Name: 2022-01-31, Length: 18458, dtype: float64
2022-01-31
272
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        720637.0
1        913104.0
2        236333.0
3        311054.0
4        253847.0
           ...
18453    418024.0
18454     89240.0
18455     49411.0
18456    119342.0
18457    235227.0
Name: 2022-02-28, Length: 18458, dtype: float64
2022-02-28
273
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        726757.0
1        928696.0
2        240567.0
3        313336.0
4        258904.0
           ...
18453    418935.0
18454     90303.0
18455     49967.0
18456    119656.0
18457    240510.0
Name: 2022-03-31, Length: 18458, dtype: float64
2022-03-31
274
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        732698.0
1        947698.0
2        245106.0
3        315071.0
4        263939.0
           ...
18453    419915.0
18454     91850.0
18455     50461.0
18456    119928.0
18457    245236.0
Name: 2022-04-30, Length: 18458, dtype: float64
2022-04-30
275
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        739633.0
1        964530.0
2        249391.0
3        318527.0
4        268412.0
           ...
18453    422149.0
18454     93754.0
18455     50301.0
18456    120193.0
18457    250691.0
Name: 2022-05-31, Length: 18458, dtype: float64
2022-05-31
276
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        744904.0
1        966200.0
2        252562.0
3        321029.0
4        271147.0
           ...
18453    429285.0
18454     95634.0
18455     50544.0
18456    120790.0
18457    254857.0
Name: 2022-06-30, Length: 18458, dtype: float64
2022-06-30
277
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        749033.0
1        965512.0
2        254626.0
3        322421.0
4        272190.0
           ...
18453    436945.0
18454     97448.0
18455     50662.0
18456    121338.0
18457    259695.0
Name: 2022-07-31, Length: 18458, dtype: float64
2022-07-31
278
0        246745.0
1        228794.0
2         99844.0
3        160951.0
4        102416.0
           ...
18453    195917.0
18454     60521.0
18455     41898.0
18456     79299.0
18457    124116.0
Name: 2000-02-29, Length: 18458, dtype: float64
0        751137.0
1        950327.0
2        255900.0
3        321973.0
4        272533.0
           ...
18453    444590.0
18454     98740.0
18455     51025.0
18456    121865.0
18457    264322.0
Name: 2022-08-31, Length: 18458, dtype: float64
2022-08-31
279

In [132]:
zhvi_3brm.isnull().sum()

RegionID        0
SizeRank        0
RegionName      0
RegionType      0
StateName       0
             ...
2022-04-30    258
2022-05-31    215
2022-06-30    153
2022-07-31     93
2022-08-31     12
Length: 280, dtype: int64

In [123]:
zhvi_3brms = zhvi_3brm[['RegionID', 'RegionName', 'State', 'CountyName', '2000-01-31', '2022-08-31']]
zhvi_3brms = zhvi_3brms.rename(columns = {'2000-01-31':'year1', '2022-08-31':'year2'})

In [124]:
def percent_change(col1, col2):
    return (col2 - col1)/col1

In [125]:
zhvi_3brms['percent_change'] = zhvi_3brms.apply(lambda x: percent_change(x.year1, x.year2), axis=1)

In [104]:
zhvi_3brms['city'] = zhvi_3brms['RegionName'].apply(lambda row: row.rstrip('County'))

In [126]:
zhvi_3brms

,RegionID,RegionName,State,CountyName,year1,year2,percent_change
0,6181,New York,NY,Queens County,244993.0,751137.0,2.065953
1,12447,Los Angeles,CA,Los Angeles County,228623.0,950327.0,3.156743
2,39051,Houston,TX,Harris County,99808.0,255900.0,1.563923
3,17426,Chicago,IL,Cook County,160643.0,321973.0,1.004277
4,6915,San Antonio,TX,Bexar County,102255.0,272533.0,1.665229
...,...,...,...,...,...,...,...
18453,47188,Poncha Springs,CO,Chaffee County,NaN,444590.0,NaN
18454,6427,Parsons,WV,Tucker County,NaN,98740.0,NaN
18455,52717,Junior,WV,Barbour County,NaN,51025.0,NaN
18456,54589,Strawberry Point,IA,Clayton County,NaN,121865.0,NaN
18457,22420,Medicine Park,OK,Comanche County,NaN,264322.0,NaN

# Section 2: Training & Testing

In [8]:
# https://www.businessinsider.com/most-miserable-cities-in-the-united-states-based-on-data-2019-9
bi_raw = pd.read_csv('training_cities.csv', header = 1)[['City', 'State', 'WEIGHTED Z-SCORE']].dropna()

In [9]:
bi_raw.head()

          City       State  WEIGHTED Z-SCORE
0         Gary     Indiana         -1.313482
1  Port Arthur       Texas         -1.262623
2      Detroit    Michigan         -1.223281
3      Passaic  New Jersey         -1.174955
4       Newark  New Jersey         -1.138656

In [97]:
bi_final = bi_raw.rename(columns = {'City': 'city', 'State':'state', 'WEIGHTED Z-SCORE': 'z'})

In [19]:
bi_raw

            city       state         z
0           Gary     Indiana -1.313482
1    Port Arthur       Texas -1.262623
2        Detroit    Michigan -1.223281
3        Passaic  New Jersey -1.174955
4         Newark  New Jersey -1.138656
..           ...         ...       ...
990         Kyle       Texas  2.197704
991       Frisco       Texas  2.454678
992   Little Elm       Texas  3.247657
993      Leander       Texas  3.930241
994     Herriman        Utah  4.125790

[995 rows x 3 columns]

In [98]:
bi_final['label'] = bi_raw.apply(lambda row: 1 if row.z >= -0.057849734 else 0, axis = 1)
bi_final['city_state'] = bi_final[['city', 'state']].agg(' '.join, axis=1)

In [99]:
bi_final = bi_final[['city', 'state', 'city_state', 'z' ,'label']]

In [100]:
bi_final

            city       state          city_state         z  label
0           Gary     Indiana        Gary Indiana -1.313482      0
1    Port Arthur       Texas   Port Arthur Texas -1.262623      0
2        Detroit    Michigan    Detroit Michigan -1.223281      0
3        Passaic  New Jersey  Passaic New Jersey -1.174955      0
4         Newark  New Jersey   Newark New Jersey -1.138656      0
..           ...         ...                 ...       ...    ...
990         Kyle       Texas          Kyle Texas  2.197704      1
991       Frisco       Texas        Frisco Texas  2.454678      1
992   Little Elm       Texas    Little Elm Texas  3.247657      1
993      Leander       Texas       Leander Texas  3.930241      1
994     Herriman        Utah       Herriman Utah  4.125790      1

[995 rows x 5 columns]

# Section 3: News API

In [52]:
def counter(string, counts):
    x = string.split()
    count = 0
    for i in x:
        if i in counts:
            count += 1
    return count

In [23]:
endpoint="https://newsapi.org/v2/everything"

In [73]:
positives = ['positive', 'good', 'forward-looking', 
             'productive', 'best', 'finest', 
            'first rate', 'perfect', 'terrific', 'leading', 'optimal', 
             'primo', 'first class', 'greatest']
negatives = ['negative', 'unproductive', 'impotent', 'useless', 
            'disadvantageous', 'unhelpful', 'doubtful', 'fruitless', 'bad', 
             'worst', 'inferior', 'incorrect', 'not right', 'unfavorable']

In [78]:
results = []


for x in bi_final['city_state'][50:100]:
    URLPost = {'apiKey':'9309e7598f994f3e9f2fc16858a4796c',
            'q':x} #Replace your with your own API key from https://newsapi.org/docs/get-started
    response=requests.get(endpoint, URLPost)
    jsontxt = response.json()
    try:
        if jsontxt['totalResults'] == 0:
            results.append(0)
            continue
        else:
            p = 0
            n = 0
            for i in range(0, 100):
                k = jsontxt['articles'][i]['description']
                p += counter(k, positives)
                n += counter(k, negatives)
            results.append(p/(n+p))
    except:
        results.append(0)
        continue
        
bi_final['score'] = results

In [102]:
bi_first_50 = bi_final.head(50)

# Section 4: Simple Neural Network

In [148]:
def activation_base(x):
    e = 2.718281828459045
    return 1/(1+e**(-x))

activation = np.vectorize(activation_base)

def z_1(x, w1, b1):
    return np.dot(x, w1) + b1


def z_2(z, w2, b2):
    return np.dot(z, w2) + b2

def network(x, w1, b1, w2, b2):
    z1 = z_1(x, w1, b1)
    h = activation(z1)
    z2 = z_2(h, w2, b2)
    yhat = activation(z2)
    return [yhat, z1, z2]

def loss(hat, y):
    return .5*(hat - y)**2
loss_vect = np.vectorize(loss)

def der_sig(x):
    return x*(1-x)
der_sig_vect = np.vectorize(der_sig)

def hat(hats, y):
    return (hats - y)

hat_vect = np.vectorize(hat)

def identity_values(size, x):
    #returns identity matrix of size size with 1's replaced by x values, x should be sizex1 
    return np.identity(size)*np.asarray(x)

def matrix_gb(z1, w2):
    #helper matrix for partial derivatives
    zt = z1.transpose()
    sig = der_sig_vect(activation(zt))
    final = w2.transpose().dot(sig)
    return final.transpose()

def matrix_red(hats, y, Z2):
    #helper matrix for partial derivatives
    yhat = hat_vect(hats, y)
    sigz = identity_values(Z2.shape[0], der_sig_vect(activation(Z2)))
    return identity_values(Z2.shape[0], sigz.dot(yhat))

def dW1(x, w1, gb, r, lr):
    xt = x.transpose()
    final = xt.dot(r.dot(gb))*lr
    return w1-final

def dW2(z1, r, LR, W2):
    h = activation(z1)
    i = np.sum(r.dot(h), axis = 0)
    final = LR*i.transpose()
    return W2-final

def dB(gb, r, LR, B):
    final = np.sum(r.dot(gb), axis = 0)*LR
    return B-final

def dC(r, LR, c):
    final = np.sum(r)*LR
    return c-final

In [198]:
def full_network(x, w1, b1, w2, b2, lr, y, epoc, report):
    k = 0
    results = network(x, w1, b1, w2, b2)
    l = loss_vect(results[0], y)
    print("result vector of epoc "+str(k)+ " is \n"+str(results[0]))
    print("Mean loss of epoc "+str(k)+ " is \n"+str(np.mean(l)))
    print("Total loss of epoc "+str(k)+ " is \n"+str(np.sum(l)))
    ml = [np.mean(l)]
    sl = [np.sum(l)]
    while k <= epoc:
        gb = matrix_gb(results[1], w2)
        #print("GB matrix at epoc "+str(k)+ " is \n"+ str(gb.shape))
        
        red = matrix_red(results[0], y, results[2])
        #print("red matrix at epoc "+str(k)+ " is \n"+ str(red.shape))
        
        w1 = dW1(x, w1, gb, red, lr)
        if k % report == 0:
            print("w1 matrix at epoc "+str(k)+ " is \n"+ str(w1))
        
        w2 = dW2(results[1], red, lr, w2)
        if k % report == 0:
            print("w2 matrix at epoc "+str(k)+ " is \n"+ str(w2))
        
        b1 = dB(gb, red, lr, b1)
        if k % report == 0:
            print("b1 matrix at epoc "+str(k)+ " is \n"+ str(b1))
        
        b2 = dC(red, lr, b2)
        if k % report == 0:
            print("c matrix at epoc "+str(k)+ " is \n"+ str(b2))
        
        results = network(x, w1, b1, w2, b2)
        
        l = loss_vect(results[0], y)
        if k % report == 0:
            print("result vector of epoc "+str(k)+ " is \n"+str(results[0]))
            print("loss vector of epoc "+str(k)+ " is \n"+str(l))
            print("Mean loss of epoc "+str(k)+ " is \n"+str(np.mean(l)))
            print("Total loss of epoc "+str(k)+ " is \n"+str(np.sum(l)))
        ml.append(np.mean(l))
        sl.append(np.sum(l))
        k += 1
    return [ml, sl, results[0]]

In [136]:
tester = bi_first_50[['city','city_state', 'z', 'score', 'label']]

In [230]:
tester.to_csv('tester.csv')

In [178]:
weight1 = np.random.rand(2, 2)
weight1.shape
weight2 = np.random.rand(2, 1)
bias1 = np.random.rand(1, 2)
bias2 = np.random.rand(1, 1)

In [179]:
print(x_train.shape)
print(weight1.shape)
print(weight2.shape)
print(bias1.shape)
print(bias2.shape)
print(y_train.shape)

(40, 2)
(2, 2)
(2, 1)
(1, 2)
(1, 1)
(40, 1)

In [204]:
x = tester[['z', 'score',]]
y = tester['label']

In [205]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [206]:
y_trainm = np.matrix(y_train.values.reshape(40,1))
x_trainm = np.matrix(x_train.values.reshape(40,2))

### Section 4.1: Results

In [199]:
results = full_network(x_trainm, weight1, bias1, weight2, bias2, .1, y_trainm ,100, 10)

result vector of epoc 0 is
[[0.63091002]
 [0.6356906 ]
 [0.63742201]
 [0.63603677]
 [0.62989272]
 [0.63569934]
 [0.63207627]
 [0.63226571]
 [0.63776898]
 [0.63102458]
 [0.63049659]
 [0.63665352]
 [0.63692819]
 [0.63186514]
 [0.63734908]
 [0.63468053]
 [0.63220996]
 [0.63712745]
 [0.63186512]
 [0.63011153]
 [0.63176693]
 [0.63617092]
 [0.63191839]
 [0.62936611]
 [0.63133499]
 [0.63520246]
 [0.63216105]
 [0.63187371]
 [0.63139888]
 [0.63752826]
 [0.63060645]
 [0.63134911]
 [0.63129499]
 [0.63781217]
 [0.63131522]
 [0.63024971]
 [0.6321567 ]
 [0.63654525]
 [0.63723476]
 [0.63200812]]
Mean loss of epoc 0 is
0.20062318366852558
Total loss of epoc 0 is
8.024927346741023
w1 matrix at epoc 0 is
[[0.22491887 0.56788125]
 [0.04295281 0.66361134]]
w2 matrix at epoc 0 is
[[ 0.50318058]
 [-0.35779659]]
b1 matrix at epoc 0 is
[[-0.06785194  0.76356964]]
c matrix at epoc 0 is
[[-0.46160008]]
result vector of epoc 0 is
[[0.39107248]
 [0.37977458]
 [0.3787451 ]
 [0.37955161]
 [0.39199884]
 [0.37976885]
 [0.39003912]
 [0.38987493]
 [0.3785655 ]
 [0.39096944]
 [0.39144665]
 [0.37917524]
 [0.37901646]
 [0.39022341]
 [0.37878402]
 [0.38047095]
 [0.38992313]
 [0.37890476]
 [0.39022344]
 [0.39179808]
 [0.3903096 ]
 [0.37946745]
 [0.39017681]
 [0.39248468]
 [0.39069181]
 [0.38010279]
 [0.3899655 ]
 [0.39021591]
 [0.39063496]
 [0.37868912]
 [0.39134689]
 [0.39067924]
 [0.39072745]
 [0.37854379]
 [0.39070942]
 [0.39167167]
 [0.38996927]
 [0.37923933]
 [0.37884584]
 [0.39009846]]
loss vector of epoc 0 is
[[0.07646884]
 [0.07211436]
 [0.07172393]
 [0.07202971]
 [0.07683155]
 [0.07211219]
 [0.07606526]
 [0.07600123]
 [0.07165592]
 [0.07642855]
 [0.07661524]
 [0.07188693]
 [0.07182674]
 [0.07613716]
 [0.07173867]
 [0.07237907]
 [0.07602002]
 [0.07178441]
 [0.07613716]
 [0.07675287]
 [0.07617079]
 [0.07199777]
 [0.07611897]
 [0.07702211]
 [0.07632005]
 [0.07223907]
 [0.07603654]
 [0.07613423]
 [0.07629784]
 [0.07170273]
 [0.07657619]
 [0.07631513]
 [0.07633397]
 [0.0716477 ]
 [0.07632693]
 [0.07670335]
 [0.07603802]
 [0.07191124]
 [0.07176208]
 [0.0760884 ]]
Mean loss of epoc 0 is
0.07456132300394777
Total loss of epoc 0 is
2.982452920157911
w1 matrix at epoc 10 is
[[0.14619957 0.48916195]
 [0.06480549 0.68546403]]
w2 matrix at epoc 10 is
[[ 0.01139138]
 [-1.04867342]]
b1 matrix at epoc 10 is
[[0.01433689 0.84575847]]
c matrix at epoc 10 is
[[-1.58235577]]
result vector of epoc 10 is
[[0.10035984]
 [0.08800775]
 [0.08565475]
 [0.08752143]
 [0.10228735]
 [0.08799538]
 [0.09821617]
 [0.09787495]
 [0.08520708]
 [0.10014607]
 [0.10113693]
 [0.08667462]
 [0.08630561]
 [0.09859878]
 [0.08574986]
 [0.08947209]
 [0.09797515]
 [0.08604104]
 [0.09859883]
 [0.10186844]
 [0.09877761]
 [0.08733509]
 [0.09850205]
 [0.10330489]
 [0.09957028]
 [0.08870702]
 [0.09806321]
 [0.09858321]
 [0.09945239]
 [0.08551681]
 [0.10092959]
 [0.09954421]
 [0.09964418]
 [0.0851519 ]
 [0.0996068 ]
 [0.1016051 ]
 [0.09807105]
 [0.08682145]
 [0.08589964]
 [0.0983394 ]]
loss vector of epoc 10 is
[[0.00503605]
 [0.00387268]
 [0.00366837]
 [0.00383   ]
 [0.00523135]
 [0.00387159]
 [0.00482321]
 [0.00478975]
 [0.00363012]
 [0.00501462]
 [0.00511434]
 [0.00375625]
 [0.00372433]
 [0.00486086]
 [0.00367652]
 [0.00400263]
 [0.00479957]
 [0.00370153]
 [0.00486086]
 [0.00518859]
 [0.00487851]
 [0.00381371]
 [0.00485133]
 [0.00533595]
 [0.00495712]
 [0.00393447]
 [0.0048082 ]
 [0.00485932]
 [0.00494539]
 [0.00365656]
 [0.00509339]
 [0.00495452]
 [0.00496448]
 [0.00362542]
 [0.00496076]
 [0.0051618 ]
 [0.00480897]
 [0.00376898]
 [0.00368937]
 [0.00483532]]
Mean loss of epoc 10 is
0.004483919661791048
Total loss of epoc 10 is
0.1793567864716419
w1 matrix at epoc 20 is
[[0.08985739 0.43281977]
 [0.08150537 0.70216391]]
w2 matrix at epoc 20 is
[[-0.10066035]
 [-1.19940074]]
b1 matrix at epoc 20 is
[[0.07328476 0.90470634]]
c matrix at epoc 20 is
[[-1.81251948]]
result vector of epoc 20 is
[[0.06911241]
 [0.05912392]
 [0.05753612]
 [0.05879606]
 [0.07050242]
 [0.05911558]
 [0.0675723 ]
 [0.06732761]
 [0.05723343]
 [0.06895858]
 [0.06967215]
 [0.05822487]
 [0.05797578]
 [0.06784681]
 [0.0576004 ]
 [0.06011069]
 [0.06739946]
 [0.05779712]
 [0.06784684]
 [0.07019985]
 [0.06797517]
 [0.05867041]
 [0.0677774 ]
 [0.07123861]
 [0.06854453]
 [0.05959518]
 [0.0674626 ]
 [0.06783564]
 [0.06845981]
 [0.05744289]
 [0.06952272]
 [0.06852579]
 [0.06859765]
 [0.05719611]
 [0.06857078]
 [0.07000978]
 [0.06746822]
 [0.05832394]
 [0.0577016 ]
 [0.0676607 ]]
loss vector of epoc 20 is
[[0.00238826]
 [0.00174782]
 [0.0016552 ]
 [0.00172849]
 [0.0024853 ]
 [0.00174733]
 [0.00228301]
 [0.0022665 ]
 [0.00163783]
 [0.00237764]
 [0.0024271 ]
 [0.00169507]
 [0.0016806 ]
 [0.0023016 ]
 [0.0016589 ]
 [0.00180665]
 [0.00227134]
 [0.00167025]
 [0.0023016 ]
 [0.00246401]
 [0.00231031]
 [0.00172111]
 [0.00229689]
 [0.00253747]
 [0.00234918]
 [0.00177579]
 [0.0022756 ]
 [0.00230084]
 [0.00234337]
 [0.00164984]
 [0.0024167 ]
 [0.00234789]
 [0.00235282]
 [0.0016357 ]
 [0.00235098]
 [0.00245068]
 [0.00227598]
 [0.00170084]
 [0.00166474]
 [0.00228899]]
Mean loss of epoc 20 is
0.0020910053811380273
Total loss of epoc 20 is
0.0836402152455211
w1 matrix at epoc 30 is
[[0.05357226 0.39653464]
 [0.09185454 0.71251308]]
w2 matrix at epoc 30 is
[[-0.16590337]
 [-1.28548744]]
b1 matrix at epoc 30 is
[[0.11127067 0.94269225]]
c matrix at epoc 30 is
[[-1.93998114]]
result vector of epoc 30 is
[[0.05526734]
 [0.04663754]
 [0.04544545]
 [0.04639169]
 [0.05635566]
 [0.04663129]
 [0.05406254]
 [0.05387118]
 [0.04521772]
 [0.05514696]
 [0.05570545]
 [0.04596301]
 [0.04577593]
 [0.05427723]
 [0.04549378]
 [0.04737681]
 [0.05392737]
 [0.04564167]
 [0.05427726]
 [0.05611866]
 [0.05437763]
 [0.04629743]
 [0.05422294]
 [0.0569326 ]
 [0.054823  ]
 [0.04699072]
 [0.05397675]
 [0.05426849]
 [0.05475672]
 [0.04537532]
 [0.05558847]
 [0.05480834]
 [0.05486456]
 [0.04518963]
 [0.05484354]
 [0.05596981]
 [0.05398114]
 [0.0460374 ]
 [0.04556987]
 [0.05413167]]
loss vector of epoc 30 is
[[0.00152724]
 [0.00108753]
 [0.00103264]
 [0.00107609]
 [0.00158798]
 [0.00108724]
 [0.00146138]
 [0.00145105]
 [0.00102232]
 [0.00152059]
 [0.00155155]
 [0.0010563 ]
 [0.00104772]
 [0.00147301]
 [0.00103484]
 [0.00112228]
 [0.00145408]
 [0.00104158]
 [0.00147301]
 [0.00157465]
 [0.00147846]
 [0.00107173]
 [0.00147006]
 [0.00162066]
 [0.00150278]
 [0.00110406]
 [0.00145674]
 [0.00147253]
 [0.00149915]
 [0.00102946]
 [0.00154504]
 [0.00150198]
 [0.00150506]
 [0.00102105]
 [0.00150391]
 [0.00156631]
 [0.00145698]
 [0.00105972]
 [0.00103831]
 [0.00146512]]
Mean loss of epoc 30 is
0.0013263053638281443
Total loss of epoc 30 is
0.053052214553125775
w1 matrix at epoc 40 is
[[0.02684994 0.36981232]
 [0.09929473 0.71995326]]
w2 matrix at epoc 40 is
[[-0.21186595]
 [-1.34539137]]
b1 matrix at epoc 40 is
[[0.1392609  0.97068248]]
c matrix at epoc 40 is
[[-2.02694319]]
result vector of epoc 40 is
[[0.04710398]
 [0.03938635]
 [0.03843752]
 [0.03919089]
 [0.04799784]
 [0.03938139]
 [0.04611445]
 [0.04595725]
 [0.03825593]
 [0.04700512]
 [0.0474638 ]
 [0.03884981]
 [0.03870084]
 [0.0462908 ]
 [0.03847605]
 [0.03997354]
 [0.04600341]
 [0.0385939 ]
 [0.04629082]
 [0.04780317]
 [0.04637326]
 [0.03911592]
 [0.0462462 ]
 [0.04847177]
 [0.04673906]
 [0.03966698]
 [0.04604397]
 [0.04628362]
 [0.04668462]
 [0.03838161]
 [0.04736772]
 [0.04672702]
 [0.04677319]
 [0.03823352]
 [0.04675592]
 [0.04768091]
 [0.04604758]
 [0.03890902]
 [0.03853669]
 [0.04617123]]
loss vector of epoc 40 is
[[0.00110939]
 [0.00077564]
 [0.00073872]
 [0.00076796]
 [0.0011519 ]
 [0.00077545]
 [0.00106327]
 [0.00105603]
 [0.00073176]
 [0.00110474]
 [0.00112641]
 [0.00075465]
 [0.00074888]
 [0.00107142]
 [0.0007402 ]
 [0.00079894]
 [0.00105816]
 [0.00074474]
 [0.00107142]
 [0.00114257]
 [0.00107524]
 [0.00076503]
 [0.00106936]
 [0.00117476]
 [0.00109227]
 [0.00078673]
 [0.00106002]
 [0.00107109]
 [0.00108973]
 [0.00073657]
 [0.00112185]
 [0.00109171]
 [0.00109387]
 [0.0007309 ]
 [0.00109306]
 [0.00113673]
 [0.00106019]
 [0.00075696]
 [0.00074254]
 [0.00106589]]
Mean loss of epoc 40 is
0.0009586687076727802
Total loss of epoc 40 is
0.038346748306911205
w1 matrix at epoc 50 is
[[0.0057259  0.34868828]
 [0.10507583 0.72573436]]
w2 matrix at epoc 50 is
[[-0.24729023]
 [-1.39114609]]
b1 matrix at epoc 50 is
[[0.161398   0.99281959]]
c matrix at epoc 50 is
[[-2.09241533]]
result vector of epoc 50 is
[[0.0415968 ]
 [0.03454756]
 [0.03376443]
 [0.03438639]
 [0.04235372]
 [0.03454347]
 [0.04075855]
 [0.04062535]
 [0.03361432]
 [0.04151307]
 [0.04190151]
 [0.03410496]
 [0.03398197]
 [0.04090798]
 [0.03379627]
 [0.03503131]
 [0.04066446]
 [0.03389364]
 [0.04090799]
 [0.04218889]
 [0.04097784]
 [0.03432455]
 [0.04087019]
 [0.042755  ]
 [0.04128772]
 [0.03477883]
 [0.04069883]
 [0.04090189]
 [0.04124161]
 [0.03371822]
 [0.04182016]
 [0.04127752]
 [0.04131663]
 [0.03359579]
 [0.041302  ]
 [0.04208537]
 [0.04070189]
 [0.03415384]
 [0.03384638]
 [0.04080667]]
loss vector of epoc 50 is
[[0.00086515]
 [0.00059677]
 [0.00057002]
 [0.00059121]
 [0.00089692]
 [0.00059663]
 [0.00083063]
 [0.00082521]
 [0.00056496]
 [0.00086167]
 [0.00087787]
 [0.00058157]
 [0.00057739]
 [0.00083673]
 [0.00057109]
 [0.0006136 ]
 [0.0008268 ]
 [0.00057439]
 [0.00083673]
 [0.00088995]
 [0.00083959]
 [0.00058909]
 [0.00083519]
 [0.000914  ]
 [0.00085234]
 [0.00060478]
 [0.0008282 ]
 [0.00083648]
 [0.00085044]
 [0.00056846]
 [0.00087446]
 [0.00085192]
 [0.00085353]
 [0.00056434]
 [0.00085293]
 [0.00088559]
 [0.00082832]
 [0.00058324]
 [0.00057279]
 [0.00083259]]
Mean loss of epoc 50 is
0.0007450886701953639
Total loss of epoc 50 is
0.02980354680781456
w1 matrix at epoc 60 is
[[-0.01172222  0.33124017]
 [ 0.10978823  0.73044676]]
w2 matrix at epoc 60 is
[[-0.27607557]
 [-1.42806367]]
b1 matrix at epoc 60 is
[[0.1796908  1.01111238]]
c matrix at epoc 60 is
[[-2.14465034]]
result vector of epoc 60 is
[[0.03757453]
 [0.03104309]
 [0.03038056]
 [0.03090685]
 [0.03822921]
 [0.03103963]
 [0.03684913]
 [0.03673382]
 [0.03025339]
 [0.03750209]
 [0.03783812]
 [0.03066882]
 [0.03056474]
 [0.03697847]
 [0.03040753]
 [0.03145168]
 [0.03676768]
 [0.03048997]
 [0.03697849]
 [0.03808667]
 [0.03703894]
 [0.03085457]
 [0.03694577]
 [0.03857621]
 [0.03730711]
 [0.03123848]
 [0.03679744]
 [0.03697321]
 [0.03726721]
 [0.03034142]
 [0.03776774]
 [0.03729828]
 [0.03733213]
 [0.03023769]
 [0.03731947]
 [0.03799714]
 [0.03680008]
 [0.03071018]
 [0.03044995]
 [0.03689079]]
loss vector of epoc 60 is
[[0.00070592]
 [0.00048184]
 [0.00046149]
 [0.00047762]
 [0.00073074]
 [0.00048173]
 [0.00067893]
 [0.00067469]
 [0.00045763]
 [0.0007032 ]
 [0.00071586]
 [0.00047029]
 [0.0004671 ]
 [0.0006837 ]
 [0.00046231]
 [0.0004946 ]
 [0.00067593]
 [0.00046482]
 [0.0006837 ]
 [0.0007253 ]
 [0.00068594]
 [0.000476  ]
 [0.00068249]
 [0.00074406]
 [0.00069591]
 [0.00048792]
 [0.00067703]
 [0.00068351]
 [0.00069442]
 [0.0004603 ]
 [0.0007132 ]
 [0.00069558]
 [0.00069684]
 [0.00045716]
 [0.00069637]
 [0.00072189]
 [0.00067712]
 [0.00047156]
 [0.0004636 ]
 [0.00068047]]
Mean loss of epoc 60 is
0.0006064696918949308
Total loss of epoc 60 is
0.02425878767579723
w1 matrix at epoc 70 is
[[-0.02657232  0.31639006]
 [ 0.11375656  0.73441509]]
w2 matrix at epoc 70 is
[[-0.30029866]
 [-1.45895047]]
b1 matrix at epoc 70 is
[[0.19526586 1.02668745]]
c matrix at epoc 70 is
[[-2.1879519]]
result vector of epoc 70 is
[[0.0344782 ]
 [0.02836367]
 [0.02779307]
 [0.02824641]
 [0.03505334]
 [0.02836069]
 [0.03384059]
 [0.03373919]
 [0.02768342]
 [0.03441455]
 [0.03470979]
 [0.02804146]
 [0.0279518 ]
 [0.03395431]
 [0.02781631]
 [0.02871507]
 [0.03376897]
 [0.02788737]
 [0.03395433]
 [0.03492813]
 [0.03400747]
 [0.0282014 ]
 [0.03392556]
 [0.03535808]
 [0.03424319]
 [0.02853175]
 [0.03379514]
 [0.03394968]
 [0.03420812]
 [0.02775933]
 [0.03464797]
 [0.03423544]
 [0.03426518]
 [0.02766988]
 [0.03425406]
 [0.03484949]
 [0.03379747]
 [0.02807708]
 [0.02785288]
 [0.03387722]]
loss vector of epoc 70 is
[[0.00059437]
 [0.00040225]
 [0.00038623]
 [0.00039893]
 [0.00061437]
 [0.00040216]
 [0.00057259]
 [0.00056917]
 [0.00038319]
 [0.00059218]
 [0.00060238]
 [0.00039316]
 [0.00039065]
 [0.00057645]
 [0.00038687]
 [0.00041228]
 [0.00057017]
 [0.00038885]
 [0.00057645]
 [0.00060999]
 [0.00057825]
 [0.00039766]
 [0.00057547]
 [0.0006251 ]
 [0.0005863 ]
 [0.00040703]
 [0.00057106]
 [0.00057629]
 [0.0005851 ]
 [0.00038529]
 [0.00060024]
 [0.00058603]
 [0.00058705]
 [0.00038281]
 [0.00058667]
 [0.00060724]
 [0.00057113]
 [0.00039416]
 [0.00038789]
 [0.00057383]]
Mean loss of epoc 70 is
0.0005096827183910032
Total loss of epoc 70 is
0.020387308735640125
w1 matrix at epoc 80 is
[[-0.03948945  0.30347293]
 [ 0.11717803  0.73783656]]
w2 matrix at epoc 80 is
[[-0.32119588]
 [-1.48546629]]
b1 matrix at epoc 80 is
[[0.20881836 1.04023994]]
c matrix at epoc 80 is
[[-2.22483854]]
result vector of epoc 80 is
[[0.03200371]
 [0.02623448]
 [0.0257364 ]
 [0.02613219]
 [0.03251501]
 [0.02623188]
 [0.03143656]
 [0.03134632]
 [0.0256406 ]
 [0.03194711]
 [0.03220963]
 [0.02595332]
 [0.02587503]
 [0.03153774]
 [0.0257567 ]
 [0.02654086]
 [0.03137282]
 [0.02581876]
 [0.03153775]
 [0.03240372]
 [0.03158503]
 [0.02609292]
 [0.03151216]
 [0.03278584]
 [0.03179471]
 [0.02638106]
 [0.03139611]
 [0.03153362]
 [0.03176352]
 [0.02570692]
 [0.03215466]
 [0.03178781]
 [0.03181427]
 [0.02562876]
 [0.03180438]
 [0.03233382]
 [0.03139818]
 [0.02598441]
 [0.02578864]
 [0.03146914]]
loss vector of epoc 80 is
[[0.00051212]
 [0.00034412]
 [0.00033118]
 [0.00034145]
 [0.00052861]
 [0.00034406]
 [0.00049413]
 [0.0004913 ]
 [0.00032872]
 [0.00051031]
 [0.00051873]
 [0.00033679]
 [0.00033476]
 [0.00049731]
 [0.0003317 ]
 [0.00035221]
 [0.00049213]
 [0.0003333 ]
 [0.00049731]
 [0.000525  ]
 [0.00049881]
 [0.00034042]
 [0.00049651]
 [0.00053746]
 [0.00050545]
 [0.00034798]
 [0.00049286]
 [0.00049718]
 [0.00050446]
 [0.00033042]
 [0.00051696]
 [0.00050523]
 [0.00050607]
 [0.00032842]
 [0.00050576]
 [0.00052274]
 [0.00049292]
 [0.00033759]
 [0.00033253]
 [0.00049515]]
Mean loss of epoc 80 is
0.00043850423929698125
Total loss of epoc 80 is
0.01754016957187925
w1 matrix at epoc 90 is
[[-0.05091275  0.29204963]
 [ 0.12018121  0.74083975]]
w2 matrix at epoc 90 is
[[-0.33956242]
 [-1.50867269]]
b1 matrix at epoc 90 is
[[0.22080739 1.05222897]]
c matrix at epoc 90 is
[[-2.25690665]]
result vector of epoc 90 is
[[0.02996992]
 [0.02449295]
 [0.02405359]
 [0.02440277]
 [0.03042876]
 [0.02449066]
 [0.02946068]
 [0.02937963]
 [0.02396902]
 [0.02991911]
 [0.03015473]
 [0.02424501]
 [0.02417594]
 [0.02955155]
 [0.02407152]
 [0.02476295]
 [0.02940343]
 [0.02412629]
 [0.02955157]
 [0.03032891]
 [0.02959403]
 [0.02436814]
 [0.02952858]
 [0.03067171]
 [0.0297823 ]
 [0.02462215]
 [0.02942435]
 [0.02954786]
 [0.0297543 ]
 [0.02402757]
 [0.0301054 ]
 [0.02977611]
 [0.02979986]
 [0.02395857]
 [0.02979098]
 [0.03026618]
 [0.02942621]
 [0.02427243]
 [0.02409971]
 [0.02948995]]
loss vector of epoc 90 is
[[0.0004491 ]
 [0.00029995]
 [0.00028929]
 [0.00029775]
 [0.00046295]
 [0.0002999 ]
 [0.00043397]
 [0.00043158]
 [0.00028726]
 [0.00044758]
 [0.00045465]
 [0.00029391]
 [0.00029224]
 [0.00043665]
 [0.00028972]
 [0.0003066 ]
 [0.00043228]
 [0.00029104]
 [0.00043665]
 [0.00045992]
 [0.0004379 ]
 [0.0002969 ]
 [0.00043597]
 [0.00047038]
 [0.00044349]
 [0.00030313]
 [0.0004329 ]
 [0.00043654]
 [0.00044266]
 [0.00028866]
 [0.00045317]
 [0.00044331]
 [0.00044402]
 [0.00028701]
 [0.00044375]
 [0.00045802]
 [0.00043295]
 [0.00029458]
 [0.0002904 ]
 [0.00043483]]
Mean loss of epoc 90 is
0.0003840881211192072
Total loss of epoc 90 is
0.015363524844768288
w1 matrix at epoc 100 is
[[-0.06114735  0.28181503]
 [ 0.12285447  0.74351301]]
w2 matrix at epoc 100 is
[[-0.35593963]
 [-1.52928888]]
b1 matrix at epoc 100 is
[[0.23155203 1.06297361]]
c matrix at epoc 100 is
[[-2.28522939]]
result vector of epoc 100 is
[[0.02826149]
 [0.02303618]
 [0.02264537]
 [0.022956  ]
 [0.02867638]
 [0.02303415]
 [0.02780078]
 [0.02772743]
 [0.0225701 ]
 [0.02821553]
 [0.02842863]
 [0.02281569]
 [0.02275424]
 [0.02788302]
 [0.02266132]
 [0.02327614]
 [0.02774897]
 [0.02271007]
 [0.02788302]
 [0.02858611]
 [0.02792145]
 [0.0229252 ]
 [0.02786223]
 [0.028896  ]
 [0.02809178]
 [0.02315103]
 [0.0277679 ]
 [0.02787967]
 [0.02806645]
 [0.02262221]
 [0.02838402]
 [0.02808618]
 [0.02810766]
 [0.02256079]
 [0.02809963]
 [0.02852939]
 [0.02776959]
 [0.02284008]
 [0.02268641]
 [0.02782727]]
loss vector of epoc 100 is
[[0.00039936]
 [0.00026533]
 [0.00025641]
 [0.00026349]
 [0.00041117]
 [0.00026529]
 [0.00038644]
 [0.00038441]
 [0.0002547 ]
 [0.00039806]
 [0.00040409]
 [0.00026028]
 [0.00025888]
 [0.00038873]
 [0.00025677]
 [0.00027089]
 [0.000385  ]
 [0.00025787]
 [0.00038873]
 [0.00040858]
 [0.0003898 ]
 [0.00026278]
 [0.00038815]
 [0.00041749]
 [0.00039457]
 [0.00026799]
 [0.00038553]
 [0.00038864]
 [0.00039386]
 [0.00025588]
 [0.00040283]
 [0.00039442]
 [0.00039502]
 [0.00025449]
 [0.00039479]
 [0.00040696]
 [0.00038558]
 [0.00026083]
 [0.00025734]
 [0.00038718]]
Mean loss of epoc 100 is
0.00034121534056899615
Total loss of epoc 100 is
0.013648613622759846

In [219]:
[x] = results[2].transpose().tolist()

In [222]:
con = pd.DataFrame({'guess':x, 'actual':y_train})
con['guess_com'] = con.apply(lambda row: 1 if row.guess >= .5 else 0, axis = 1)

In [225]:
confusion_matrix(con['actual'],con['guess_com'])

array([[40]])